# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
goldennum

output/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Config
conf/config.yml
.env

# database
sqlite3.db
db

# Packr
*-packr.go
