version: '3'

services:
  server:
    # build: .
    image: forewing/goldennum
    command: ""
    env_file:
      .env
    ports:
      - 8080:8080
    restart: unless-stopped


  db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=goldennum
      - MYSQL_USER=goldennum
      - MYSQL_PASSWORD=goldennum
      - MYSQL_DATABASE=goldennum
    restart: unless-stopped
    # ports:
    #  - 3306:3306
