{{ define "admin.html" }}
<!DOCTYPE html>
<html>

<head>

	{{ template "header.html" . }}

	<title>{{ .i18n.admin_admin }} - {{ .i18n.global_title }}</title>

</head>

<body>
	{{ template "navbar.html" . }}

	<div id="app">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="card">
						<h2 class="card-title pt-3 pl-4 mb-2">{{ .i18n.admin_admin_panel }}</h2>
						<div class="card-body">
							<span class="ml-2">{{ .i18n.admin_intervals_rounds }}</span>
							<div class="input-group">
								<input type="number" min="1" class="form-control" v-model="inputRoomInterval">
								<input type="number" min="1" class="form-control" v-model="inputRoomTotalRounds">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button" v-on:click="addRoom">{{
										.i18n.admin_add }}</button>
								</div>
							</div>
						</div>
						<div class="card-body table-responsive">
							<table class="table">
								<caption>{{ .i18n.admin_list_of_rooms }}</caption>
								<thead>
									<tr>
										<th scope="col">{{ .i18n.admin_id }}</th>
										<th scope="col">{{ .i18n.admin_status }}</th>
										<th scope="col">{{ .i18n.admin_users }}</th>
										<th scope="col">{{ .i18n.admin_intervals }}</th>
										<th scope="col">{{ .i18n.admin_rounds }}</th>
										<th scope="col">{{ .i18n.admin_Operations }}</th>
									</tr>
								</thead>
								<tbody>
									<tr is="room-control" v-for="room in rooms" v-bind:key="room" v-bind:roomid="room">
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ template "footer.html" . }}

	{{ template "room_control.html" . }}
	<script src='{{ generateStaticURL "/statics/admin.js" }}'></script>
</body>

</html>
{{ end }}