{{ define "dashboard.html" }}
<script type="text/x-template" id="dashboard-component">
<div class="data-charts">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" id="dashboard">Dashboard</h1>
        <p class="mb-0">{{ .i18n.dashboard_current_room }} [[ roomId ]] | {{ .i18n.dashboard_next_tick }} [[ countDown ]]s</p>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary" v-on:click="toggleRefresh">[[ isButtonStart ? "{{ .i18n.dashboard_start }}" : "{{ .i18n.dashboard_stop }}"]]</button>
                <button class="btn btn-sm btn-outline-secondary" v-on:click="refreshWorker">{{ .i18n.dashboard_refresh }}</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ .i18n.dashboard_history_range }}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" v-on:click="updateHistoryLength(10)">10</a>
                    <a class="dropdown-item" href="#" v-on:click="updateHistoryLength(25)">25</a>
                    <a class="dropdown-item" href="#" v-on:click="updateHistoryLength(50)">50</a>
                    <a class="dropdown-item" href="#" v-on:click="updateHistoryLength(100)">100</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" v-on:click="updateHistoryLength(0)">{{ .i18n.dashboard_all }}</a>
                </div>
            </div>
        </div>
    </div>
    <p class="text-danger">[[ errorMessage ]]</p>
    <div class="row">
        <div class="col">
            <div style="width:100%;">
                <canvas ref="roomHistory"></canvas>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-striped">
				<caption>{{ .i18n.dashboard_list_of_users }}</caption>
                <thead>
                  <tr>
                    <th scope="col">{{ .i18n.dashboard_rank }}</th>
                    <th scope="col">{{ .i18n.dashboard_user }}</th>
                    <th scope="col">{{ .i18n.dashboard_score_1 }}</th>
                    <th scope="col">{{ .i18n.dashboard_history }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(user, index) in users">
                    <th scope="row">#[[ index + 1 ]]</th>
                    <td>[[ user.ID ]]/[[ user.Name ]]</td>
                    <td>[[ user.Score ]]</td>
                    <td><a href="#/" class="text-dark" v-bind:userid="user.ID" v-on:click="showUserHistory">{{ .i18n.dashboard_show }}</a></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="userHistoryModal" data-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="userHistoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userHistoryModalLabel">{{ .i18n.dashboard_history_of_user }} [[ userHistoryUser ]]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body table-responsive">
                    <table class="table">
						<caption>{{ .i18n.dashboard_list_of_user_history }}</caption>
                        <thead>
                          <tr>
                            <th scope="col">{{ .i18n.dashboard_round }}</th>
                            <th scope="col">{{ .i18n.dashboard_score_2}}</th>
                            <th scope="col">{{ .i18n.dashboard_submit1 }}</th>
                            <th scope="col">{{ .i18n.dashboard_submit2 }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="history in userHistory"
                            v-bind:class="history.ScoreGet > 0 ? 'table-success' : (history.ScoreGet < 0 ? 'table-danger' : '')">
                            <th scope="row">#[[ history.Round ]]</th>
                            <td>[[ history.Score ]]<span v-if="history.ScoreGet != 0">(<span v-if="history.ScoreGet > 0">+</span>[[ history.ScoreGet ]])</span></td>
                            <td>[[ history.Submit1.toFixed(2) ]]</td>
                            <td>[[ history.Submit2.toFixed(2) ]]</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">{{ .i18n.dashboard_close }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
<script>
    const DATA_LABEL_GOLDENNUM = "{{ .i18n.dashboard_DATA_LABEL_GOLDENNUM }}";
    const TITLE_NUMBER_HISTORY = "{{ .i18n.dashboard_TITLE_NUMBER_HISTORY }}";
    const SCALE_LABEL_ROUNDS = "{{ .i18n.dashboard_SCALE_LABEL_ROUNDS }}";
    const SCALE_LABEL_GOLDENNUM = "{{ .i18n.dashboard_SCALE_LABEL_GOLDENNUM }}";
</script>
<script src='{{ template "base_url" . }}/statics/dashboard.js'></script>
{{ end }}