{{ define "index.html" }}
<!DOCTYPE html>
<html>

<head>

	{{ template "header.html" . }}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>

	<title>Go! Goldennum!</title>

</head>

<body>
	{{ template "navbar.html" . }}

	<div id="app">
		{{ template "user_modals.html" . }}
		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					{{ template "user_sidebar.html" . }}
				</nav>
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
					<dashboard ref="panelDashboard"></dashboard>
				</main>
			</div>
		</div>
	</div>

	{{ template "footer.html" . }}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

	{{ template "dashboard.html" . }}
	<script src='{{ template "base_url" . }}/statics/index.js'></script>
</body>

</html>
{{ end }}