name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  go-version: "1.15"

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.go-version }}
    - name: Cache Go Packages
      uses: actions/cache@v2
      with:
        path: ~/go
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Build
      run: |
        chmod +x build.sh
        ./build.sh
    - name: Upload reports
      uses: actions/upload-artifact@v2
      with:
        name: ci
        path: ./output
    - name: Test
      run: go test -cover -race ./...
